[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/dss-allocator"]
	path = lib/dss-allocator
	url = https://github.com/makerdao/dss-allocator
[submodule "lib/upgradeable-proxy"]
	path = lib/upgradeable-proxy
	url = https://github.com/marsfoundation/upgradeable-proxy
[submodule "lib/dss-test"]
	path = lib/dss-test
	url = https://github.com/makerdao/dss-test
[submodule "lib/erc20-helpers"]
	path = lib/erc20-helpers
	url = https://github.com/marsfoundation/erc20-helpers
