[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/mock-erc20"]
	path = lib/mock-erc20
	url = https://github.com/marsfoundation/mock-erc20
[submodule "lib/dss-allocator"]
	path = lib/dss-allocator
	url = https://github.com/makerdao/dss-allocator
[submodule "lib/upgradeable-proxy"]
	path = lib/upgradeable-proxy
	url = https://github.com/marsfoundation/upgradeable-proxy
[submodule "lib/dss-test"]
	path = lib/dss-test
	url = https://github.com/makerdao/dss-test
